body {
	background-color: #386641;
	padding-top: 70px;
}

.navbar {
	background-color: #6A994E;
}

.btn{
	margin: 1em;
}

a.card {
	text-decoration: none;
	color: inherit;
}

#titleLogo {
	font-family: 'Permanent Marker', cursive;
}

.title {
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background-color: #FBF7EF;
}

.addButton {
	background-color: #61A0AF;
	color: black;
}

.card {
	background-color: #FBF7EF;
}

img.missing_image {
	max-height: 200px;
	object-fit: none;
}