body {
	background-image: linear-gradient(to right, #386641, #08b2e3);
	padding-top: 70px;
}

.navbar {
	background-color: #6A994E;
}

.btn{
	margin: 1em;
}

a.card {
	text-decoration: none;
	color: inherit;
}

#titleLogo {
	font-family: 'Permanent Marker', cursive;
}

.title {
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background-color: #FBF7EF;
}

.addButton {
	background-color: #61A0AF;
	color: black;
}

.card {
	background-color: #FBF7EF;
}

img.missing_image {
	max-height: 200px;
	object-fit: none;
}

/* The checkbos was being blocked by a modal or something and it was not clickable,
this fixes it. */
#rememberMe {
	z-index: 101;
}