{% extends "keepittidy/layout.html" %}
{% load static %}

{% block body %}
<div id="collection" class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-5">{{ collection.name }}</h1>
		<p class="lead">{{ collection.description }}</p>
	</div>
	<div class="container">
		<form action="{% url 'add_item' collection.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<!--Main mandatory fields-->
			<label for=itemName>Item Name</label>
			<input type="text" class="form-control itemName" name="itemName" placeholder="Item Name" required="">

			<label for=itemDescription>Item Description</label>
			<textarea class="form-control itemDescription" name="itemDescription" placeholder="Item Name"></textarea>

			<!--Aditional fields set up by the user-->
			{% for field in fields %}
	        <label for="{{field.field_name}}">{{field.field_name}}</label>
	        {% if field.field_type == "text" %}
	        	<input type="text" class="form-control {{field.field_type}}" name="{{field.field_name}} / {{field.field_type}}" placeholder={{field.field_type}}>
	        {% elif field.field_type == "boolean" %}
	        	<div class="form-check">
        			<input type="radio" class="form-check-input {{field.field_type}}" id="booleanYes" value="true" name="{{field.field_name}} / {{field.field_type}}">
    				<label for="booleanYes">Yes</label>
        		</div>
    			<div class="form-check">
    				<input type="radio" class="form-check-input {{field.field_type}}" id="booleanNo" value="false" name="{{field.field_name}} / {{field.field_type}}" checked>
    				<label for="booleanNo">No</label>
    			</div>
	        {% elif field.field_type == "date" %}
	        	<input type="date" class="form-control {{field.field_type}}" name="{{field.field_name}} / {{field.field_type}}" placeholder={{field.field_type}} required="">
	        {% elif field.field_type == "number" %}
	        	<input type="number" step="any" class="form-control {{field.field_type}}" name="{{field.field_name}} / {{field.field_type}}" placeholder={{field.field_type}}>
	        {% elif field.field_type == "decimal" %}
	        	<input type="number" step=".01" class="form-control {{field.field_type}}" name="{{field.field_name}} / {{field.field_type}}" placeholder={{field.field_type}}>
	        {% elif field.field_type == "image" %}
	        	<input type="file", class="form-control-image {{field.field_type}}" name="{{field.field_name}} / {{field.field_type}}" multiple>
	        {% endif %}
		    {% endfor %}
		    <button type="submit" class="btn addButton">Submit</button>
		</form>
	</div>
</div>
{% endblock %}