{% extends "keepittidy/layout.html" %}

{% block body %}
<div class="container-fluid"  style="height:90vh">
	<div class="row h-100">
		<div class="d-flex col-sm h-100 align-items-center">
			<div class="mx-auto h-75 w-75 card">
				<div class="card-header text-center">Collection Options</div>
				<div class="card-body">
				    <h5 class="card-title text-center">What would you like to do</h5>
				    <p class="card-text text-center">View current collections or create a new one.</p>
				    <div class="row justify-content-center">
					    <a href="#" class="btn btn-primary">View Collection</a>
					    <a href="{% url 'create_collection' %}" class="btn btn-primary">Create Collection</a>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}