{% extends "keepittidy/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">A thing</h5>
					<p class="card-text">Stuff about this thing</p>
					<a href="#" class="btn btn-primary">Go to this thing</a>
				</div>
			</div>
		</div>

		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">A thing</h5>
					<p class="card-text">Stuff about this thing</p>
					<a href="#" class="btn btn-primary">Go to this thing</a>
				</div>
			</div>
		</div>

		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">A thing</h5>
					<p class="card-text">Stuff about this thing</p>
					<a href="#" class="btn btn-primary">Go to this thing</a>
				</div>
			</div>
		</div>

		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">A thing</h5>
					<p class="card-text">Stuff about this thing</p>
					<a href="#" class="btn btn-primary">Go to this thing</a>
				</div>
			</div>
		</div>

		
	</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}